body {
  background-color: #1A083B;
}

.header {
  overflow: hidden;
  background-color: #1A083B;
  padding: 20px 200px 0px 20px ;
  border-bottom: 3px solid white;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 15px; 
  font-family: "Roboto";
}

.header-right {
  display: flex; 
  justify-content: flex-end;
  align-items: center;
  
 }

 .header-right a {
  align-items: center;
  margin-top: -150px;
  padding: 0px 20px 0px 20px;
  
 }

.header a:hover {
  background-color: white;
  color: #1A083B;
}

.logo {
  width: 500px;
}

.inline-block {
  display: inline-block;
  vertical-align: top;
}

.logo img {
  width: 23%;
  padding: 1%;
}

li {
  padding: 10px;
}

h1 {
  font-family: "Roboto";
  font-size: 60px;
  margin-left: 5%;
  color: white;
}

p {
  margin-left: 5%;
  width: 50%;
  font-family: "Roboto";
  font-size: 18px;
  color: white;
  line-height: 1.8;
}

button {
  margin-left: 5%;
  padding: 5px 10px 5px 10px;
  background-color: #E5B7B7;
  border: none;
  height: 50px;
  width: 200px;
  font-size: 15px;
  border-radius: 15px;

}

.heroImg img {
  height: 400px;
  float: right;
  margin-top: 0px;
  margin-right: 10%;
}

footer {
  
  background-color: black;
  
}

footer ul  {
 
}

.lefthand {
  color: pink;
  font-family: "Roboto";
  display: inline-block;
  margin-top: 30px;
}

.righthand {
  color: pink;
  display: flex;
  text-decoration: none;
  justify-content: flex-end;
  font-family: "Roboto"; 
}
